.chatting {
  margin-top: 7rem;
  padding: 1.5rem 0.5rem 0.5rem 0.5rem;
}

.chatting .content {
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 20%);
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  width: 99%;
  height: 70vh;
  position: absolute;
  display: flex;
}

.chatting .content .name {
  max-width: 25%;
  min-width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.form-control-lg {
  width: 100%;
}

.chatting .content .name .user {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 2rem;
  border-bottom: 2px solid;
  align-items: center;
}

.chatting .content .name a {
  text-decoration: none;
  color: black;
}
.chatting .content .name a .user:hover {
  background-color: var(--light-green);
  opacity: 0.8;
}
.chatting .content .name .user img {
  min-width: 60px;
  min-height: 60px;
  max-width: 60px;
  max-height: 60px;
  border-radius: 35px;
}
.chatting .content .name .user p {
  font-size: 15px;
  margin-top: 10px;
}

.chatting .content .res {
  display: flex;
  width: 100%;
}
.chatting .content .chatbox {
  width: 40%;
  height: 100%;
  border-style: solid;
  padding: 1.5rem;
  background-color: var(--green);
  position: relative;
}

.chatting .content .chatbox h1 {
  height: 10%;
  color: #fff;
}

.chatting .content .chatbox .message {
  height: 80%;
  border-style: solid;
  background-color: white;
  overflow: auto;
}

.chatting .content .chatbox form {
  height: 10%;
  display: flex;
}

.chatting .content .chatbox form textarea {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border-style: solid;
  font-size: 20px;
}

.chatting .content .chatbox form .fa-paper-plane {
  height: 100%;
  font-size: 25px;
  color: yellowgreen;
}

.chatting .content .chatbox .message .user {
  display: flex;
  align-items: center;
}

.chatting .content .chatbox .message .guide {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.chatting .content .chatbox .message .user img,
.chatting .content .chatbox .message .guide img {
  width: 40px;
  height: 40px;
  border-radius: 25px;
}

.chatting .content .chatbox .message .user p,
.chatting .content .chatbox .message .guide p {
  max-width: 100%;
  height: auto;
  padding: 12px;
  margin: 3px;
  font-size: 13px;
  border: 1px solid;
  border-radius: 9px;
  text-align: justify;
  background-color: lightslategray;
}

.chatting .detail {
  width: 60%;
  overflow: auto;
  max-height: 100%;
}

.chatting .detail h1 {
  align-items: center;
  text-align: center;
}

.chatting .detail .tablesdet tbody tr th {
  overflow: hidden;
}

@media (max-width: 768px) {
  .chatting .content {
    height: 50vh;
  }
  .chatting .content .name .user img {
    min-width: 40px;
    min-height: 40px;
    max-width: 30px;
    max-height: 30px;
  }
  .chatting .content .name .user p {
    font-size: 15px;
    margin-top: 10px;
  }
  .chatting .content .chatbox h1 {
    font-size: 15px;
  }
  .chatting .content .chatbox .message .user img,
  .chatting .content .chatbox .message .guide img {
    width: 30px;
    height: 30px;
  }
  .chatting .content .chatbox .message .user p,
  .chatting .content .chatbox .message .guide p {
    font-size: 9px;
  }
  .chatting .content .chatbox form .fa-paper-plane {
    font-size: 20px;
  }
  .chatting .content .chatbox form textarea {
    font-size: 13px;
  }
  .chatting .detail h1 {
    font-size: 15px;
  }
  .chatting .detail .tablesdet tbody tr th button {
    width: 220px;
    font-size: 8px;
  }
}

@media (max-width: 576px) {
  .chatting {
    margin-top: 10rem;
  }
  .chatting .content {
    height: 70vh;
  }
  .chatting .content .res {
    display: flex;
    flex-direction: column;
  }
  .chatting .content .chatbox {
    width: 100%;
    height: 60%;
  }
  .chatting .detail {
    width: 100%;
  }
  .chatting .content .name .user img {
    min-width: 30px;
    min-height: 30px;
  }
  .chatting .content .name .user p {
    font-size: 12px;
  }
  .chatting .content .chatbox h1 {
    font-size: 14px;
  }
  .chatting .content .chatbox .message {
    height: 80%;
  }
  .chatting .content .chatbox form {
    height: 13%;
  }
  .chatting .content .chatbox form textarea {
    font-size: 12px;
  }
  .chatting .content .chatbox form .fa-paper-plane {
    font-size: 18px;
  }
}

@media (max-width: 450px) {
  .chatting .content .chatbox {
    width: 100%;
    height: 100%;
  }
  .chatting .content .chatbox h1 {
    font-size: 12px;
  }
  .chatting .content .chatbox form {
    height: 15%;
  }
  .chatting .content .chatbox form textarea {
    font-size: 10px;
    padding-left: 10px;
  }
}
