/* start css page create_places dan cereate news*/

input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

input[type="text"]:focus {
  border: 3px solid #555;
}

textarea {
  height: 200px;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type="submit"],
input[type="reset"] {
  width: 50%;
  background-color: var(--green);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type="reset"] {
  background-color: #8b0000;
}

input[type="submit"]:hover {
  background-color: var(--light-green);
}

input[type="reset"]:hover {
  background-color: #ab1515;
}
.partner,
.place,
.create-news,
.create-event,
.edit-event,
.edit-user,
.data-news,
.data-guide,
.data-user,
.data-review,
.data-event,
.data-transaction,
.add-news,
.edit-guide {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-size: 15px;
}

.content {
  width: 80%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  overflow: auto;
}

.partner .content {
  margin-top: 70px;
}
.partner .content .row a {
  text-align: center;
  align-items: center;
  text-decoration: none;
}
.partner .content .row .button {
  width: 50%;
  background-color: red;
  align-items: center;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}
.print {
  float: left;
  width: 15%;
  margin-top: 6px;
  font-weight: bold;
}

.input {
  float: left;
  width: 85%;
  margin-top: 6px;
}

.place .content tr td {
  max-height: 170px;
  max-width: 200px;
  text-align: justify;
}

.place .content td:nth-child(3) {
  text-transform: uppercase;
  font-weight: bold;
}
.place .content td:nth-child(10),
.place .content td:nth-child(11) {
  overflow: hidden;
}
.place .content td:nth-child(9),
.place .content tr:nth-child(9) {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* start css page data_page */
.search-container {
  float: right;
}

.search-container input[type="text"] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

td,
th {
  text-align: center;
  align-items: center;
  vertical-align: middle;
}

thead tr th:nth-child(1),
tbody tr td:nth-child(1) {
  font-weight: bold;
  padding: 0;
}

button {
  padding: 4px;
  border: none;
  width: 55px;
  color: #f2f2f2;
  border-radius: 12px;
}

.button-edit {
  background-color: var(--light-green);
}
/* .edit-user .content12 a .btn {
  position: absolute;
  left: 0;
  width: 150px;
} */
.edit-user .row a button {
}

.button-delete {
  background-color: red;
}
.button-home {
  width: auto;
  height: auto;
  font-size: 20px;
  border-radius: 0;
  padding: 2px;
  margin-left: 10px;
  background-color: var(--light-green);
}
/* data news */
.data-news .content a .button-create,
.data-event .content a .button-create {
  background-color: var(--green);
  width: auto;
  height: auto;
  font-size: 20px;
  border-radius: 0;
  padding: 2px;
  float: left;
}

.data-news .content .search-container,
.data-event .content .search-container {
  float: left;
  margin: 100px 0 0 -73px;
}
.data-guide .content .search-container {
  float: left;
  margin: auto;
}

.data-news .table tbody {
  font-size: 13px;
}

.data-news .table {
  width: 100%;
}
.data-news tr td {
  max-height: 170px;
  max-width: 200px;
  text-align: justify;
}

.data-news td:nth-child(1) {
  text-align: center;
}

.data-news td:nth-child(2) {
  width: 250px;
}

.data-news td:nth-child(3) * {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.data-news td:nth-child(4) {
  text-transform: uppercase;
  font-weight: bold;
}

.data-news td:nth-child(5) {
  overflow: hidden;
  text-overflow: ellipsis;
}

/* data event */
.data-event .content .button-create {
  display: block;
}

.data-event .table tbody {
  font-size: 13px;
}

.data-event .table {
  width: 100%;
}
.data-event tr td {
  max-height: 170px;
  max-width: 200px;
  text-align: justify;
}

.data-event td:nth-child(1) {
  text-align: center;
}

.data-event td:nth-child(2) {
  width: 150px;
}

.data-event td:nth-child(5) {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.data-event td:nth-child(6) {
  overflow: hidden;
  text-overflow: ellipsis;
}

/* data guide */
.data-guide .table tbody {
  font-size: 13px;
}
.edit-guide {
  margin-top: 100px;
}
.data-guide .table {
  width: 100%;
}
.data-guide tr td {
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 170px;
  max-width: 400px;
  text-align: justify;
}

.edit-user .content {
  margin-top: 90px;
}

.edit-user .content12 button {
  float: left;
}

.data-transaction .content table tbody tr td:nth-child(2) {
  font-weight: bold;
  font-size: 18px;
}

.data-transaction .content table tbody tr td:nth-child(5),
.data-transaction .content table tbody tr td:nth-child(6) {
  min-width: 140px;
}

.data-transaction .content table tbody tr td:nth-child(7) {
  min-width: 200px;
  max-width: 200px;
}

.data-transaction .content table tbody tr td:nth-child(9) {
  min-width: 100px;
}
.data-transaction .content table tbody tr td:nth-child(11) {
  min-width: 100px;
}
.data-transaction .content table tbody tr td:nth-child(12) {
  min-width: 300px;
}
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .print,
  .input,
  input[type="submit"],
  input[type="reset"] {
    width: 100%;
    margin-top: 0;
  }

  .partner .content,
  .place .content,
  .create-news .content {
    margin-top: 80px;
  }
}

.alert-success,
.alert-danger {
  position: unset;
  width: auto;
  height: auto;
  font-weight: bold;
  font-size: 15px;
  left: 0;
  top: 20%;
  padding: 15px;
}
