@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");

:root {
  --green: #2d491a;
  --light-green: #4f7735;
}

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}

body {
  background: #fff;
}

section {
  padding: 2rem 9%;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.8rem 3.5rem;
  border-radius: 0.5rem;
  font-size: 1.7rem;
  color: var(--green);
  background: var(--light-green);
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  background: var(--green);
  color: #fff;
}

.heading {
  text-align: center;
  color: #333;
  font-size: 4rem;
  padding-bottom: 3rem;
}

.heading span {
  color: var(--green);
  background: var(--light-green);
  border-radius: 0.5rem;
  padding: 0.2rem 1.5rem;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: var(--green);
  padding: 1.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

header .logo {
  font-weight: bolder;
  font-size: 2rem;
  color: white;
  text-decoration: none;
}

header .logo span {
  color: blanchedalmond;
}

header .navbar a {
  color: white;
  font-size: 2rem;
  padding: 0 1.5rem;
}

header .navbar a:hover {
  color: var(--light-green);
}

header .dropdown button {
  width: 10%;
  background-color: var(--green);
}
header .dropdown [type="button"]:not(:disabled),
header .dropdown button:not(:disabled) {
  cursor: pointer;
  font-size: 2rem;
  width: 100%;
}
header .dropdown [type="button"]:hover,
header .dropdown [type="button"]:checked {
  background-color: var(--light-green);
  text-decoration: underline;
  color: var(--green);
}

header .dropdown .dropdown-menu.show,
header .dropdown .dropdown-menu li a .dropdown-item {
  display: block;
  width: 100%;
  height: 35px;
  background-color: var(--light-green);
}

.dropdown-item {
  background-color: var(--light-green);
}
.dropdown-item:hover {
  background-color: var(--green);
}
header .dropdown .dropdown-menu.show li a {
  width: 100%;
  font-size: 1.5rem;
  text-decoration: none;
  color: #f7f7f7;
}

/* media queries  */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  header {
    padding: 1.5rem 1rem;
  }

  section {
    padding: 1.5rem;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
  html {
    font-size: 50%;
  }
  .navbar {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background-color: var(--light-green);
  }
  header .navbar a:hover {
    color: var(--green);
  }
  header .logo,
  header .dropdown {
    margin-top: -30px;
  }
}

@media (max-width: 450px) {
  header .logo,
  header .dropdown {
    margin-top: -30px;
  }
}
