/* home page */

.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.home .content2 a .btn {
  position: absolute;
  left: 0;
}

.home .content {
  margin-top: 7rem;
  background: #fff;
  border-radius: 0.5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  width: 90%;
  padding: 2rem;
}

.home .content h3 {
  text-align: center;
  color: #333;
  font-size: 3rem;
}

.home .content .inputBox {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 2rem;
}

.home .content .inputBox input,
.home .content .inputBox select {
  flex: 1 1 25rem;
  border: 0.1rem solid #333;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  font-size: 1.5rem;
  padding: 1rem;
  text-transform: none;
  border-radius: 15px;
}

.home .content .btn {
  width: 100%;
  margin-top: 2rem;
  border-radius: 15px;
  font-weight: bolder;
  background-color: var(--green);
  color: white;
}
.home .doc {
  background: #fff;
  border-radius: 0.5rem;
  width: 90%;
  padding: 0 0 2rem 0;
}

.home .doc .docu {
  position: relative;
  text-align: center;
}

.home .doc .docu img {
  width: 100%;
  max-height: 400px;
}

.home .doc .docu .des {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: rgba(0, 0, 0, 0.523);
  text-transform: capitalize;
  text-align: justify;
  width: 80%;
  padding: 2rem;
}

.home .doc .docu .des h1 {
  text-align: center;
  font-size: 5vw;
  font-weight: bold;
}

.home .doc .docu .des p {
  font-size: 1.5vw;
  text-indent: 50px;
}

.home .kuliner {
  margin-top: 7rem;
  background: #fff;
  border-radius: 0.5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  width: 90%;
  padding: 2rem;
}

.home .result-recom,
.home .result-search {
  padding-top: 2rem;
}

.home .result-recom .det,
.home .result-search .det {
  display: flex;
  gap: 0.5rem;
}

.home .result-recom .recom-container,
.home .result-search .recom-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.home .result-recom .recom-container .recomendation,
.home .result-search .recom-container .recomendation {
  background: #fff;
  width: 32.8%;
  height: 45vh;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  text-align: center;
}

.home .result-recom .recom-container .recomendation .desc,
.home .result-search .recom-container .recomendation .desc {
  max-height: 100px;
  min-height: 100px;
}

.home .result-recom .recom-container .recomendation .image img,
.home .result-search .recom-container .recomendation .image img {
  max-width: 100%;
  min-width: 100%;
  max-height: 130px;
  min-height: 130px;
}

.home .result-recom .recom-container .recomendation:hover,
.home .result-search .recom-container .recomendation:hover {
  background: var(--green);
  margin-top: -15px;
  box-shadow: 0 0.5rem 1rem var(--light-green);
}

.home .result-recom .recom-container .recomendation a,
.home .result-search .recom-container .recomendation a {
  padding-top: 1px;
  text-decoration: none;
  font-size: 2rem;
  color: #333;
  padding: 1rem 0;
  font-weight: bolder;
}

.home .result-recom .recom-container .recomendation:hover a,
.home .result-recom .recom-container .recomendation:hover p,
.home .result-recom .recom-container .recomendation:hover .like,
.home .result-search .recom-container .recomendation:hover a,
.home .result-search .recom-container .recomendation:hover p,
.home .result-search .recom-container .recomendation:hover .like {
  color: white;
}

.home .result-recom .recom-container .recomendation p,
.home .result-search .recom-container .recomendation p {
  font-size: 1vw;
  color: #666;
  padding: 0.2rem 0;
}

.home .result-recom .recom-container .recomendation .like,
.home .result-search .recom-container .recomendation .like {
  display: flex;
  flex-direction: column;
}

.home .result-recom .recom-container .recomendation .like .rater,
.home .result-search .recom-container .recomendation .like .rater {
  color: #ea0;
  display: flex;
  gap: 0.1rem;
  justify-content: center;
  font-size: 15px;
}

.home .result-recom .recom-container .recomendation .like .reviewer,
.home .result-search .recom-container .recomendation .like .reviewer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.2rem;
}

/* place modal */

.home .place-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 9999999; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.home .place-modal .modal-content {
  background-color: #fefefe;
  margin: auto;
  border: none;
  width: 70%;
  height: 70vh;
  margin-top: 3rem;
}

.home .place-modal .modal-content .close:hover,
.home .place-modal .modal-content .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.home .place-modal .modal-content .close {
  color: red;
  background-color: white;
  text-align: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  float: none;
  position: absolute;
  top: -22px;
  right: -22px;
  z-index: 1;
  opacity: 1;
  font-weight: bolder;
  font-size: 4rem;
}
.home .place-modal .modal-content .close:hover {
  background-color: var(--light-green);
  color: var(--green);
}
.home .place-modal .modal-content img {
  position: absolute;
  z-index: 1;
  width: 55%;
  height: 80%;
  top: -30px;
  left: 30px;
  box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
  overflow: hidden;
}

.home .place-modal .modal-content .description p {
  position: absolute;
  z-index: 2;
  background-color: red;
}

.home .place-modal .modal-content .detail {
  text-align: justify;
  display: flex;
  flex-direction: column;
  margin-left: 570px;
  margin-top: 40px;
  margin-right: 50px;
  padding: auto;
}

.home .place-modal .modal-content .detail hr {
  border-bottom: 2px solid black;
}
.home .place-modal .modal-content .detail .nama h3 {
  text-decoration: none;
  font-weight: bold;
  font-size: 2vw;
}
.home .place-modal .modal-content .detail .det tr,
.home .place-modal .modal-content .detail .det td {
  width: 80px;
  font-size: 2.5vh;
  height: 50px;
  text-align: left;
  border-bottom: 0.1rem solid black;
}
.home .place-modal .modal-content .detail .det tr td:nth-child(2) {
  width: 5px;
}
.home .place-modal .modal-content .detail .det tr td:nth-child(3) {
  font-size: 1.3vw;
  width: 90px;
}
.home .place-modal .modal-content .more {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 50%;
  height: 20%;
  align-items: center;
  justify-content: space-around;
}
.home .place-modal .modal-content .more a {
  height: 30%;
  width: 150%;
  font-size: 1vw;
}
.home .place-modal .modal-content .more .like,
.home .place-modal .modal-content .more .coment,
.home .place-modal .modal-content .more .map {
  height: 100%;
  width: 25%;
  margin-left: 8rem;
  display: flex;
  gap: 0.7rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.home .place-modal .modal-content .more .like .fa-heart,
.home .place-modal .modal-content .more .coment .fa-comment,
.home .place-modal .modal-content .more .map .fa-map-marker {
  width: 50%;
  height: 40%;
}

/* review modal */

/* review */
.home .review {
  display: none;
  background-color: #fefefe;
  margin: auto;
  border: none;
  width: 50%;
  height: 70vh;
  position: absolute;
  z-index: 99999999;
  top: 100px;
}

.home .review .container {
  overflow: scroll;
  height: 80%;
}

.home .review .container .rate {
  width: 100%;
  height: 100%;
  background: var(--green);
  padding: 30px 30px;
  border: 1px solid #444;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.home .review .container .rate form .textarea {
  height: 100px;
  width: 100%;
  overflow: hidden;
}
.home .review .container .rate form .textarea textarea {
  height: 100%;
  width: 100%;
  outline: none;
  color: #eee;
  border: 1px solid #333;
  background: #222;
  padding: 10px;
  font-size: 17px;
  resize: none;
}
.home .review .container .rate .textarea textarea:focus {
  border-color: #444;
}
.home .review .container .rate form .btn {
  height: 45px;
  width: 100%;
  margin: 15px 0;
}
.home .review .container .rate form button {
  height: 30px;
  width: 100%;
  outline: none;
  background: var(--light-green);
}
.home .review .container .rate form .btn:hover button {
  background: var(--green);
}

.home .review .button1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: none;
  color: white;
  background-color: var(--green);
  opacity: 0.9;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  margin-top: 8px;
  cursor: pointer;
  align-items: center;
}
.home .review .button2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: none;
  color: white;
  background-color: red;
  opacity: 0.8;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  margin-top: 8px;
  cursor: pointer;
  align-items: center;
}

/*  */
.rating {
  float: left;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
 follow these rules. Every browser that supports :checked also supports :not(), so
 it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
  position: absolute;
  top: -9999px;
  clip: rect(0, 0, 0, 0);
}

.rating:not(:checked) > label {
  float: right;
  width: 1em;
  padding: 0 0.1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 200%;
  line-height: 1.2;
  color: #ddd;
  text-shadow: 1px 1px #bbb, 2px 2px #666, 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5);
}

.rating:not(:checked) > label:before {
  content: "★ ";
}

.rating > input:checked ~ label {
  color: #f70;
  text-shadow: 1px 1px #c60, 2px 2px #940, 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: gold;
  text-shadow: 1px 1px goldenrod, 2px 2px #b57340,
    0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
  color: #ea0;
  text-shadow: 1px 1px goldenrod, 2px 2px #b57340,
    0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5);
}

.rating > label:active {
  position: relative;
  top: 2px;
  left: 2px;
}

/* end of Lea's code */

/*
* Clearfix from html5 boilerplate
*/

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/*
* For IE 6/7 only
* Include this rule to trigger hasLayout and contain floats.
*/

.clearfix {
  *zoom: 1;
}

/* my stuff */
#status,
button {
  margin: 20px 0;
}

/*  */
/*  */
.total-like {
  border: 1px solid;
  border-radius: 50px;
  display: inline-block;
  font-weight: 500;
  height: 34px;
  line-height: 33px;
  padding: 0 13px;
  vertical-align: top;
}

.reviews-members .media .mr-3 {
  width: 56px;
  height: 56px;
  object-fit: cover;
}

/*  */
/* page news */
.news {
  margin-top: 7rem;
  margin-left: 4rem;
  margin-right: 4rem;
}

.news .news-container {
  border-radius: 0.5rem;
  border: none;
  width: 100%;
  height: 100%;
  margin-bottom: 2rem;
}

.news .news-container .headline-box {
  border-radius: 0.5rem;
  overflow: hidden;
  background: #fff;
  padding-bottom: 2rem;
  height: 300px;
  border: none;
}

.news .news-container .headline-box .image-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 300px;
}

.news .news-container .headline-box .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.2s linear;
}

.news .news-container .headline-box:hover .image-container img {
  transform: scale(1.1);
}

.news .news-container .headline-box .image-container .judul {
  position: absolute;
  left: 0;
  bottom: 3rem;
  display: flex;
}

.news .news-container .headline-box .image-container .judul a {
  text-decoration: none;
}
.news .news-container .headline-box .image-container .judul h3 {
  font-weight: 500;
  font-size: 1.4rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  margin-left: 1.5rem;
  font-size: 5vh;
  color: #fff;
  text-align: justify;
}

.news .news-container .headline-box .image-container .judul:hover h3 {
  color: #fff;
  background: rgba(0, 0, 0, 0.3);
}

.news .news-container .headline-box .image-container .detail {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
}

.news .news-container .headline-box .image-container .detail p {
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  margin-left: 1rem;
}

.news .news-container .title {
  margin-top: 4rem;
  margin-bottom: 3rem;
}

.news .news-container .title p {
  font-weight: bolder;
  font-size: 20px;
}

.news .news-container .title hr {
  border: 2px solid black;
  border-radius: 5px;
}
.news .news-container .news-box {
  overflow: hidden;
  border: none;
}

.news .news-container .news-box a {
  text-decoration: none;
  color: #000;
}

.news .news-container .news-box .image-container {
  overflow: hidden;
  width: 100%;
  height: 120px;
  display: flex;
}

.news .news-container .news-box .image-container img {
  height: 100%;
  width: 20%;
}

.news .news-container .news-box:hover .image-container img {
  opacity: 0.8;
}

.news .news-container .news-box .image-container .judul {
  flex-direction: row;
  margin-top: 4rem;
  padding-left: 2rem;
  width: 100%;
}

.news .news-container .news-box .image-container .judul h3 {
  font-size: 3.5vh;
  font-weight: bold;
  text-align: justify;
  width: 100%;
}

.news .news-container .news-box .image-container .judul p {
  font-size: 2vh;
}

/* page readnews */
.readnews {
  display: flex;
  gap: 0;
  margin-top: 7rem;
  background-color: #fff;
}

.readnews .read {
  margin-top: 5rem;
  margin-right: 2rem;
  margin-left: 1rem;
  width: 100%;
}

.readnews .read h3 {
  font-weight: bolder;
  font-size: 3vw;
  justify-content: center;
  text-align: justify;
}
.readnews .read p {
  font-size: 1.3vw;
  font-weight: bold;
  opacity: 0.5;
  padding-bottom: 2.5rem;
}

.readnews .read img {
  width: 100%;
  height: 400px;
}

.readnews .read .content {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
}

.readnews .read .content p {
  opacity: 1;
  font-weight: normal;
  text-align: justify;
  padding-bottom: 1rem;
}

.readnews .recom {
  margin-right: -12rem;
  border-left: 0.1rem solid rgba(0, 0, 0, 0.2);
  width: 50%;
  height: 90vh;
  top: 15%;
  position: sticky;
}

.readnews .recom p {
  margin-top: 4rem;
  font-weight: bolder;
  font-size: 2vw;
  padding-bottom: -2rem;
  padding-left: 2rem;
}
.readnews .recom .terbaru {
  display: flex;
  gap: 2rem;
  padding-left: 2rem;
  margin-right: 2rem;
}

.readnews .recom .terbaru img {
  min-width: 150px;
  max-width: 150px;
  height: 15vh;
}

.readnews .recom .terbaru a {
  text-decoration: none;
  align-items: center;
  text-align: justify;
  justify-content: center;
  padding-top: 1.5rem;
  color: black;
}

.readnews .recom .terbaru a h3 {
  font-weight: bold;
}

.readnews .recom .terbaru:hover a {
  color: var(--light-green);
}

/* page partner */
.partner {
  display: flex;
  gap: 2rem;
  margin-top: 7rem;
}

.partner .content1 {
  margin-left: -10rem;
  background: rgb(19, 17, 17);
  border-radius: 0.5rem;
  border: none;
  width: 20%;
  height: 19rem;
  position: absolute;
  top: 15%;
  position: sticky;
}

.partner .content11 h3 {
  padding: 2.5rem;
  font-size: 2vw;
  font-weight: bolder;
  color: #f7f7f7;
  text-align: center;
  justify-content: center;
}

.partner .content1 .btn {
  width: 100%;
  color: #fff;
  font-weight: bolder;
  font-size: 1vw;
}

.partner .content2 {
  margin-right: -10rem;
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  width: 100%;
}

.partner .alert-success,
.partner .alert-danger {
  position: absolute;
  /* height: 100%; */
  font-weight: bold;
  font-size: 15px;
  left: 0;
  padding: 15px;
  top: 300px;
}

.partner .content2 .box-container {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}

.partner .content2 .box-container .box {
  background: #fff;
  text-align: center;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 2rem;
  position: relative;
  width: 26rem;
}

.partner .content2 .box-container .box .fa-envelope {
  position: absolute;
  top: 1.8rem;
  left: 2rem;
  color: #333;
  font-size: 2rem;
}

.partner .content2 .box-container .box .fa-envelope:hover {
  color: #ea4335;
}

.partner .content2 .box-container .box .fa-phone {
  position: absolute;
  top: 1.8rem;
  right: 2rem;
  color: #333;
  font-size: 2rem;
}

.partner .content2 .box-container .box .fa-phone:hover {
  color: var(--light-green);
}

.partner .content2 .box-container .box img {
  border-radius: 50%;
  box-shadow: 0 0 0 0.5rem rgba(0, 0, 0, 0.1);
  object-fit: cover;
  height: 10rem;
  width: 10rem;
  margin: 1rem 0;
}

.partner .content2 .box-container .box .name {
  text-decoration: none;
}

.partner .content2 .box-container .box .name h3 {
  font-size: 2rem;
  color: #333;
  padding-top: 2rem;
}

.partner .content2 .box-container .box span {
  font-size: 1.7rem;
  color: var(--light-green);
  font-weight: bolder;
}

.partner .content2 .box-container .box div {
  padding-top: 2rem;
}
.partner .content2 .box-container .box .share {
  font-size: 0.5rem;
}

.partner .content2 .box-container .box .share .fa-facebook-f {
  margin: 0.3rem;
  height: 3rem;
  width: 3rem;
  line-height: 4rem;
  background: #f7f7f7;
  color: #666;
  border-radius: 0.5rem;
}

.partner .content2 .box-container .box .share .fa-facebook-f:hover {
  color: #f7f7f7;
  background: #3b5998;
  transition: 1s;
}

.partner .content2 .box-container .box .share .fa-twitter {
  margin: 0.3rem;
  height: 3rem;
  width: 3rem;
  line-height: 4rem;
  background: #f7f7f7;
  color: #666;
  border-radius: 0.5rem;
}

.partner .content2 .box-container .box .share .fa-twitter:hover {
  color: #f7f7f7;
  background: #55acee;
  transition: 1s;
}

.partner .content2 .box-container .box .share .fa-instagram {
  margin: 0.3rem;
  height: 3rem;
  width: 3rem;
  line-height: 4rem;
  background: #f7f7f7;
  color: #666;
  border-radius: 0.5rem;
}

.partner .content2 .box-container .box .share .fa-instagram:hover {
  color: #f7f7f7;
  background: #8a3ab9;
  transition: 1s;
}

/* partner modal */

.partner .partner-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 9999999; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.partner .partner-modal .modal-content {
  background-color: #fefefe;
  margin: auto;
  border: none;
  width: 50%;
  height: 60vh;
  border-top-right-radius: 40px;
}

.partner .partner-modal .modal-content .close:hover,
.partner .partner-modal .modal-content .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.partner .partner-modal .modal-content .close {
  color: red;
  background-color: white;
  text-align: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  float: none;
  position: absolute;
  top: -22px;
  right: -22px;
  z-index: 1;
  opacity: 1;
  font-weight: bolder;
  font-size: 4rem;
}
.partner .partner-modal .modal-content .close:hover {
  background-color: var(--light-green);
  color: var(--green);
}
.partner .partner-modal .modal-content .box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.partner .partner-modal .modal-content .box img {
  width: 22vw;
  height: 100%;
}

.partner .partner-modal .modal-content .box .line {
  border-left: 1px solid grey;
  height: 90%;
  margin-top: 2rem;
  left: 50%;
}
.partner .partner-modal .modal-content .box p {
  font-size: 1.2vw;
  text-align: justify;
  font-weight: bold;
}
.partner .partner-modal .modal-content .box .bio-medsos {
  align-items: center;
  vertical-align: middle;
  margin: 20px 0 0 30px;
}
.partner .partner-modal .modal-content .box .bio-medsos .biodata {
  margin-top: 4rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

/* event page */
.event {
  margin-right: -10rem;
  background: #fff;
  border-radius: 0.5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  width: 100%;
  height: max-content;
  margin-top: 7rem;
}

.event .content-box {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.event .content-box .box {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 18px;
  overflow: hidden;
  background: #fff;
  flex: 1 1 30rem;
}

.event .content-box .box .content-image {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 25rem;
  border: none;
}

.event .content-box .box .content-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.2s linear;
  position: absolute;
  z-index: 1;
}

.event .content-box .box .content-date {
  width: 75px;
  padding: 8px 0px;
  padding-bottom: 0;
  border-radius: 5px;
  background-color: var(--green);
  color: #fff;
  text-align: center;
  position: absolute;
  z-index: 2;
  margin: -30px 0 0 15px;
}

.event .content-box .box .content-date .label-date {
  font-size: 2rem;
  font-weight: bold;
}

.event .content-box .box .content-date .label-month {
  font-size: 1.5rem;
  font-weight: bold;
}

.event .content-box .box .content-detail {
  margin: 5px 0 0 100px;
}

.event .content-box .box .content-detail .title h1 {
  font-weight: bold;
}
.event .content-box .box .location {
  display: flex;
  gap: 7px;
  margin: -7px 0 15px 10px;
  color: var(--light-green);
}

.event .content-box .box .location .fa-map-marker {
  font-weight: 900;
  font-size: 15px;
}

.event .content-box .box .location h3 {
  font-size: 15px;
  font-weight: 900;
}

.event .content-box .box .konten {
  text-align: justify;
  text-indent: 30px;
  padding: 0 10px 10px 10px;
}

.event .content-box .box .konten p {
  font-size: 12px;
  text-transform: capitalize;
}

/* flash massage */
.alert-success,
.alert-danger {
  position: absolute;
  width: 20%;
  height: auto;
  font-weight: bold;
  font-size: 15px;
  left: 0;
  top: 20%;
  padding: 15px;
}
/* media queries  */
@media (max-width: 768px) {
  .partner .box-container {
    margin-top: 70px;
  }
  .event .content-box .box .location {
    margin-left: 10px;
  }
}

/* media queries  */
@media (max-width: 576px) {
  .partner .box-container {
    margin-top: 70px;
  }

  .home .result-recom .det {
    font-size: 10px;
  }

  .home .result-recom .recom-container .recomendation,
  .home .result-search .recom-container .recomendation {
    height: 35vh;
    width: 32.7%;
  }
  .home .result-recom .recom-container .recomendation .desc,
  .home .result-search .recom-container .recomendation .desc {
    max-height: 80px;
    min-height: 80px;
  }
  .home .result-recom .recom-container .recomendation .image img,
  .home .result-search .recom-container .recomendation .image img {
    max-height: 110px;
    min-height: 110px;
  }
  .home .result-recom .recom-container .recomendation a {
    font-size: 1.7rem;
  }
  .home .doc .docu .des p {
    font-size: 1.9vw;
    text-indent: 30px;
  }
  .home .result-recom .recom-container .recomendation p {
    font-size: 1.4rem;
  }
  .home .result-recom .recom-container .recomendation .like .fa-thumbs-up {
    font-size: 2rem;
  }
  .home .result-recom .recom-container .recomendation .like,
  .home .result-search .recom-container .recomendation .like {
    margin-bottom: -1rem;
  }

  .news .news-container .headline-box .image-container .judul h3 {
    font-size: 2rem;
  }
  .news .news-container .headline-box .image-container .detail p {
    margin-left: 1.5rem;
    font-size: 1.5rem;
  }
  .news .news-container .news-box {
    height: 100px;
    width: 100%;
  }
  .news .news-container .news-box .image-container {
    height: 100%;
  }
  .news .news-container .news-box .image-container .judul h3 {
    font-size: 2.5vh;
    overflow: hidden;
  }
  .readnews .read {
    width: 80%;
  }
  .readnews .read h3 {
    font-size: 2.5vw;
  }
  .readnews .read img {
    height: auto;
  }
  .readnews .read p {
    font-size: 10px;
  }
  .home .place-modal .modal-content {
    width: 80%;
    height: 45vh;
  }
  .home .place-modal .modal-content .close {
    width: 40px;
    height: 40px;
  }
  .home .place-modal .modal-content img {
    width: 50%;
    height: 70%;
  }
  .home .place-modal .modal-content .more {
    width: auto;
    margin-bottom: 3rem;
  }
  .home .place-modal .modal-content .detail .nama {
    width: 30%;
  }
  .home .place-modal .modal-content .detail {
    width: 40%;
    height: 70%;
    margin: 0 0 0 60%;
  }
  .home .place-modal .modal-content .detail .nama h3 {
    font-size: 20px;
  }
  .home .place-modal .modal-content .detail .det tbody {
    width: 20%;
  }
  .home .place-modal .modal-content .detail .det tr,
  .home .place-modal .modal-content .detail .det td {
    font-size: 1.7vh;
    height: auto;
  }
  .home .place-modal .modal-content .detail .det tr td:nth-child(3) {
    font-size: 2vw;
  }
  .home .place-modal .modal-content .more .like,
  .home .place-modal .modal-content .more .coment,
  .home .place-modal .modal-content .more .map {
    margin-left: 6rem;
  }
  .home .place-modal .modal-content .more .like .fa-heart,
  .home .place-modal .modal-content .more .coment .fa-comment,
  .home .place-modal .modal-content .more .map .fa-map-marker {
    width: 60%;
    height: 50%;
  }
  .home .place-modal .modal-content .more a {
    font-size: 1.5vw;
  }
  .home .review {
    width: 100%;
  }

  .home .review .media .mb-1 .text-black {
    font-size: 18px;
  }
  .readnews .recom .terbaru img {
    min-width: 40px;
    max-width: 40px;
    height: 5vh;
  }
  .readnews .recom .terbaru a {
    padding-top: 0;
  }
  .readnews .recom .terbaru a h3 {
    font-size: 10px;
  }
  .partner {
    display: flex;
    flex-direction: column-reverse;
  }
  .partner .content1 {
    margin-left: 0;
    height: 10rem;
    width: auto;
  }
  .partner .content11 h3 {
    font-size: 3vw;
  }
  .partner .content1 .btn {
    height: 4rem;
    font-size: 2vw;
  }
  .partner .content2 .box-container {
    margin: 3rem 0 0 0;
    padding-bottom: 2.5rem;
    gap: 1rem;
  }
  .partner .content2 .box-container .box {
    width: 20rem;
    height: 20rem;
  }
  .partner .content2 .box-container .box button .btn-success .btn-lg {
    background-color: var(--green);
  }

  .partner .content2 .box-container .box .fa-envelope {
    position: absolute;
    top: 1.3rem;
    left: 1.5rem;
    color: #333;
    font-size: 1.5rem;
  }

  .partner .content2 .box-container .box .fa-phone {
    position: absolute;
    top: 1.3rem;
    right: 1.5rem;
    color: #333;
    font-size: 1.5rem;
  }
  .partner .content2 .box-container .box img {
    height: 8rem;
    width: 8rem;
  }
  .partner .content2 .box-container .box .name h3 {
    font-size: 1.5rem;
    color: #333;
    padding-top: 0;
  }
  .partner .content2 .box-container .box span {
    font-size: 1.2rem;
  }
  .partner .content2 .box-container .box div {
    padding-top: 0;
  }
  .partner .content2 .box-container .box .share .fa-facebook-f,
  .partner .content2 .box-container .box .share .fa-twitter,
  .partner .content2 .box-container .box .share .fa-instagram {
    height: 2.3rem;
  }
  .partner .partner-modal .modal-content {
    width: 80%;
    height: 50vh;
  }
  .partner .partner-modal .modal-content .close {
    width: 40px;
    height: 40px;
  }
  .partner .partner-modal .modal-content .box img {
    width: 40vw;
  }
  .partner .partner-modal .modal-content .box p {
    font-size: 2.5vw;
  }
  .partner .partner-modal .modal-content .box .bio-medsos .biodata {
    margin-left: -25px;
  }
  .event .content-box .box {
    height: 270px;
  }
  .event .content-box .box .content-image {
    height: 15rem;
  }
  .event .content-box .box .content-date {
    width: 40px;
    height: 45px;
  }
  .event .content-box .box .content-date .label-date {
    font-size: 1.5rem;
  }
  .event .content-box .box .content-date .label-month {
    font-size: 1rem;
  }
  .event .content-box .box .content-detail .title {
    margin-left: -40px;
  }
  .event .content-box .box .content-detail .title h1 {
    font-size: 1.5rem;
  }
  .event .content-box .box .location {
    margin: -4px 0 15px -30px;
  }
  .event .content-box .box .location .fa-map-marker,
  .event .content-box .box .location h3 {
    font-size: 10px;
  }
  .event .content-box .box .konten p {
    font-size: 10px;
  }
}

/* media queries  */
@media (max-width: 450px) {
  .home .content h3 {
    font-size: 1.5rem;
  }
  .home .content .inputBox {
    height: 10px;
    margin-bottom: 2rem;
  }
  .home .content .inputBox input,
  .home .content .inputBox select {
    font-size: 1.3rem;
  }
  .home .content .btn {
    height: 33px;
    font-size: 10px;
  }
  .home .content .addplace h5 {
    font-size: 1rem;
  }
  .home .result-recom .det {
    font-size: 7px;
  }
  .home .result-recom .recom-container .recomendation,
  .home .result-search .recom-container .recomendation {
    height: 25vh;
    width: 32%;
  }
  .home .result-recom .recom-container .recomendation .image img,
  .home .result-search .recom-container .recomendation .image img {
    max-height: 50px;
    min-height: 50px;
  }
  .home .result-recom .recom-container .recomendation .desc,
  .home .result-search .recom-container .recomendation .desc {
    max-height: 50px;
    min-height: 50px;
  }
  .home .result-recom .recom-container .recomendation a {
    font-size: 1.3rem;
  }
  .home .result-recom .recom-container .recomendation p {
    font-size: 1rem;
  }

  .home .result-recom .recom-container .recomendation .like,
  .home .result-search .recom-container .recomendation .like {
    font-size: 10px;
    margin-top: 15px;
  }
  .home .place-modal {
    padding-top: 80px;
  }
  .home .place-modal .modal-content .close {
    width: 30px;
    height: 30px;
  }
  .home .place-modal .modal-content .close {
    top: -25px;
    right: -22px;
    font-size: 3.5rem;
  }
  .home .place-modal .modal-content img {
    width: 50%;
    height: 60%;
    left: 15px;
  }
  .home .place-modal .modal-content .detail {
    width: 40%;
    height: 70%;
  }
  .home .place-modal .modal-content .detail .nama {
    width: 100%;
  }
  .home .place-modal .modal-content .detail .nama h3 {
    font-size: 13px;
  }
  .home .place-modal .modal-content .detail .det {
    height: 100%;
  }
  .home .place-modal .modal-content .detail .det tr,
  .home .place-modal .modal-content .detail .det td {
    font-size: 1.3vh;
  }
  .home .place-modal .modal-content .detail .det tr td:nth-child(1),
  .home .place-modal .modal-content .detail .det tr td:nth-child(3) {
    font-size: 8px;
  }
  .home .place-modal .modal-content .more {
    width: 100%;
    margin-bottom: 0;
  }
  .home .place-modal .modal-content .more .like,
  .home .place-modal .modal-content .more .coment,
  .home .place-modal .modal-content .more .map {
    margin: 20px;
    height: 80%;
    width: 15%;
  }
  .home .place-modal .modal-content .more a {
    font-size: 2vw;
  }
  .home .review {
    width: 90%;
    height: 50vh;
  }
  .home .review .container {
    overflow: scroll;
    height: 87%;
  }
  .reviews-members .media .mr-3 {
    width: 36px;
    height: 36px;
  }
  .home .review .media .mb-1 .text-black {
    font-size: 15px;
  }
  .home .reviews-members-body p {
    font-size: 10px;
  }
  .home .total-like {
    height: 22px;
    line-height: 23px;
  }
  .home .rating {
    float: left;
    font-size: 13px;
  }
  .home .review .container .rate form .textarea {
    height: 150px;
  }
  .home .review .container .rate form .textarea textarea {
    font-size: 15px;
  }
  .home .review .container .rate form button {
    height: 40px;
    font-size: 15px;
  }

  /* news responsive 450px */
  .news {
    margin: 10rem 0 0 0;
  }
  .news .news-container .headline-box .image-container {
    height: 200px;
  }
  .news .news-container .headline-box .image-container .judul h3 {
    font-size: 1.7rem;
  }
  .news .news-container .headline-box .image-container .detail p {
    font-size: 1.3rem;
  }
  .news .news-container .headline-box {
    padding-bottom: 0;
    height: auto;
  }
  .news .news-container .title {
    margin-top: 3rem;
    margin-bottom: 2rem;
  }
  .news .news-container .title p {
    font-size: 15px;
  }
  .news .news-container .news-box {
    height: 75px;
  }
  .news .news-container .news-box .image-container .judul h3 {
    font-size: 12px;
  }
  .news .news-container .news-box .image-container .judul p {
    font-size: 8px;
  }
  .news .news-container .news-box .image-container .judul {
    margin-top: 2rem;
  }
  .readnews .read p {
    font-size: 8px;
  }
  .readnews .read img {
    height: 200px;
  }
  .readnews .read {
    width: 75%;
  }
  .readnews .recom {
    max-width: 20%;
  }
  .readnews .recom p {
    font-size: 1.8vw;
  }
  .readnews .recom .terbaru {
    display: flex;
    gap: 0.3rem;
    padding-left: 0;
    margin-right: 0;
    max-width: 100%;
  }
  .readnews .recom .terbaru a h3 {
    font-size: 5px;
  }

  /* guide */
  .partner {
    margin-top: 10rem;
  }
  .partner .content2 .box-container .box {
    width: 30%;
  }
  .partner .content2 .box-container .box .fa-envelope {
    font-size: 1.3rem;
  }
  .partner .content2 .box-container .box .fa-phone {
    font-size: 1.3rem;
  }
  .partner .content2 .box-container .box img {
    height: 5rem;
    width: 5rem;
  }
  .partner .content2 .box-container .box .name h3 {
    font-size: 1.2rem;
  }
  .partner .content2 .box .btn-success {
    width: 20px;
    height: 20px;
    margin: 8px;
    font-size: 7px;
  }
  .partner .content2 .box-container .box .share .fa-facebook-f,
  .partner .content2 .box-container .box .share .fa-twitter,
  .partner .content2 .box-container .box .share .fa-instagram {
    height: 1.8rem;
  }
  .partner .content2 .box-container {
    padding-top: 0;
  }

  /* event */
  .event {
    margin-top: 10rem;
  }
  .event .content-box .box .content-image {
    height: 20rem;
  }
  .event .content-box .box {
    height: 350px;
  }
  .event .content-box .box .content-date {
    width: 60px;
    height: 60px;
  }
  .event .content-box .box .content-date .label-date {
    font-size: 2.5rem;
  }
  .event .content-box .box .content-date .label-month {
    font-size: 1.2rem;
  }
  .event .content-box .box .content-detail {
    margin: 5px 0 0 130px;
  }
  .event .content-box .box .content-detail .title h1 {
    font-size: 2rem;
  }
}

@media (max-width: 390px) {
  .partner .content2 .box .btn-success {
    width: 35px;
  }
  .partner .content2 .box-container .box .share .fa-facebook-f,
  .partner .content2 .box-container .box .share .fa-twitter,
  .partner .content2 .box-container .box .share .fa-instagram {
    height: 1.8rem;
    width: 2rem;
  }
  .alert-success,
  .alert-danger {
    width: 30%;
    font-size: 7px;
  }
  .home .place-modal .modal-content {
    height: 35vh;
  }
  .home .place-modal .modal-content img {
    height: 70%;
  }
  .home .place-modal .modal-content .detail .nama h3 {
    font-size: 10px;
  }
}

@media (max-width: 350px) {
  .partner .content2 .box-container .box .share {
    font-size: 0.1rem;
  }
  .home .place-modal .modal-content .detail .nama h3 {
    font-size: 10px;
  }
  .home .place-modal .modal-content .detail hr {
    margin: 0;
  }
  .home .place-modal .modal-content .detail .det tr td:nth-child(1),
  .home .place-modal .modal-content .detail .det tr td:nth-child(3) {
    font-size: 6px;
  }
}
